--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13 (Debian 15.13-1.pgdg120+1)
-- Dumped by pg_dump version 15.13 (Debian 15.13-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: bridge_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO bridge_user;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: bridge_user
--

COMMENT ON SCHEMA public IS '';


--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: bridge_user
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO bridge_user;

--
-- Name: chat_messages; Type: TABLE; Schema: public; Owner: bridge_user
--

CREATE TABLE public.chat_messages (
    id integer NOT NULL,
    message_id character varying(255) NOT NULL,
    content text NOT NULL,
    message_type character varying(50) DEFAULT 'text'::character varying,
    audio_file_path character varying(500),
    audio_duration integer,
    transcription text,
    is_edited boolean DEFAULT false,
    is_deleted boolean DEFAULT false,
    chat_room_id integer,
    sender_id integer,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.chat_messages OWNER TO bridge_user;

--
-- Name: chat_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: bridge_user
--

CREATE SEQUENCE public.chat_messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.chat_messages_id_seq OWNER TO bridge_user;

--
-- Name: chat_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bridge_user
--

ALTER SEQUENCE public.chat_messages_id_seq OWNED BY public.chat_messages.id;


--
-- Name: chat_room_participants; Type: TABLE; Schema: public; Owner: bridge_user
--

CREATE TABLE public.chat_room_participants (
    id integer NOT NULL,
    chat_room_id integer,
    user_id integer,
    role character varying(50) DEFAULT 'participant'::character varying,
    status character varying(50) DEFAULT 'active'::character varying,
    is_online boolean DEFAULT false,
    joined_at timestamp with time zone DEFAULT now(),
    last_active_at timestamp with time zone,
    total_messages integer DEFAULT 0
);


ALTER TABLE public.chat_room_participants OWNER TO bridge_user;

--
-- Name: chat_room_participants_id_seq; Type: SEQUENCE; Schema: public; Owner: bridge_user
--

CREATE SEQUENCE public.chat_room_participants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.chat_room_participants_id_seq OWNER TO bridge_user;

--
-- Name: chat_room_participants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bridge_user
--

ALTER SEQUENCE public.chat_room_participants_id_seq OWNED BY public.chat_room_participants.id;


--
-- Name: chat_rooms; Type: TABLE; Schema: public; Owner: bridge_user
--

CREATE TABLE public.chat_rooms (
    id integer NOT NULL,
    room_id character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    is_public boolean DEFAULT true,
    is_active boolean DEFAULT true,
    max_participants integer DEFAULT 10,
    current_participants integer DEFAULT 0,
    status character varying(50) DEFAULT 'waiting'::character varying,
    room_type character varying(50) DEFAULT 'casual'::character varying,
    participants jsonb,
    moderators jsonb,
    total_messages integer DEFAULT 0,
    total_duration integer DEFAULT 0,
    created_by integer,
    organization_id integer,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    started_at timestamp with time zone,
    ended_at timestamp with time zone
);


ALTER TABLE public.chat_rooms OWNER TO bridge_user;

--
-- Name: chat_rooms_id_seq; Type: SEQUENCE; Schema: public; Owner: bridge_user
--

CREATE SEQUENCE public.chat_rooms_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.chat_rooms_id_seq OWNER TO bridge_user;

--
-- Name: chat_rooms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bridge_user
--

ALTER SEQUENCE public.chat_rooms_id_seq OWNED BY public.chat_rooms.id;


--
-- Name: organization_members; Type: TABLE; Schema: public; Owner: bridge_user
--

CREATE TABLE public.organization_members (
    id integer NOT NULL,
    organization_id integer,
    user_id integer,
    role character varying(50) DEFAULT 'member'::character varying,
    joined_at timestamp with time zone DEFAULT now(),
    is_active boolean DEFAULT true
);


ALTER TABLE public.organization_members OWNER TO bridge_user;

--
-- Name: organization_members_id_seq; Type: SEQUENCE; Schema: public; Owner: bridge_user
--

CREATE SEQUENCE public.organization_members_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.organization_members_id_seq OWNER TO bridge_user;

--
-- Name: organization_members_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bridge_user
--

ALTER SEQUENCE public.organization_members_id_seq OWNED BY public.organization_members.id;


--
-- Name: organizations; Type: TABLE; Schema: public; Owner: bridge_user
--

CREATE TABLE public.organizations (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    slug character varying(100) NOT NULL,
    description text,
    is_public boolean DEFAULT false,
    max_members integer DEFAULT 10,
    avatar_url character varying(500),
    subscription_status character varying(50) DEFAULT 'free'::character varying NOT NULL,
    stripe_customer_id character varying(255),
    stripe_subscription_id character varying(255),
    owner_id integer,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.organizations OWNER TO bridge_user;

--
-- Name: organizations_id_seq; Type: SEQUENCE; Schema: public; Owner: bridge_user
--

CREATE SEQUENCE public.organizations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.organizations_id_seq OWNER TO bridge_user;

--
-- Name: organizations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bridge_user
--

ALTER SEQUENCE public.organizations_id_seq OWNED BY public.organizations.id;


--
-- Name: transcriptions; Type: TABLE; Schema: public; Owner: bridge_user
--

CREATE TABLE public.transcriptions (
    id integer NOT NULL,
    transcription_id character varying(255) NOT NULL,
    content text NOT NULL,
    language character varying(10) DEFAULT 'ja'::character varying,
    audio_file_path character varying(500),
    audio_duration double precision,
    audio_format character varying(50),
    confidence_score double precision,
    speaker_count integer DEFAULT 1,
    speakers text,
    status character varying(50) DEFAULT 'processing'::character varying,
    is_edited boolean DEFAULT false,
    voice_session_id integer NOT NULL,
    user_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    processed_at timestamp with time zone
);


ALTER TABLE public.transcriptions OWNER TO bridge_user;

--
-- Name: transcriptions_id_seq; Type: SEQUENCE; Schema: public; Owner: bridge_user
--

CREATE SEQUENCE public.transcriptions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.transcriptions_id_seq OWNER TO bridge_user;

--
-- Name: transcriptions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bridge_user
--

ALTER SEQUENCE public.transcriptions_id_seq OWNED BY public.transcriptions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: bridge_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    username character varying(100) NOT NULL,
    full_name character varying(255),
    avatar_url character varying(500),
    is_active boolean DEFAULT true NOT NULL,
    is_verified boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    hashed_password character varying(255),
    firebase_uid character varying(255),
    bio text,
    last_login_at timestamp with time zone,
    is_premium boolean DEFAULT false,
    subscription_status character varying(50) DEFAULT 'free'::character varying,
    nickname character varying(100),
    department character varying(100),
    join_date date,
    birth_date date,
    hometown character varying(200),
    residence character varying(200),
    hobbies text,
    student_activities text,
    holiday_activities text,
    favorite_food text,
    favorite_media text,
    favorite_music text,
    pets_oshi text,
    respected_person text,
    motto text,
    future_goals text,
    subscription_end_date timestamp with time zone,
    monthly_voice_minutes integer DEFAULT 0,
    monthly_analysis_count integer DEFAULT 0,
    is_admin boolean DEFAULT false,
    has_temporary_password boolean DEFAULT true,
    temporary_password_expires_at timestamp with time zone,
    is_first_login boolean DEFAULT true,
    last_password_change_at timestamp with time zone,
    temporary_password character varying(255)
);


ALTER TABLE public.users OWNER TO bridge_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: bridge_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO bridge_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bridge_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: voice_sessions; Type: TABLE; Schema: public; Owner: bridge_user
--

CREATE TABLE public.voice_sessions (
    id integer NOT NULL,
    session_id character varying(255) NOT NULL,
    title character varying(255),
    description text,
    audio_file_path character varying(500),
    audio_duration double precision,
    audio_format character varying(50),
    file_size integer,
    status character varying(50),
    is_public boolean DEFAULT false,
    is_analyzed boolean DEFAULT false,
    participant_count integer,
    participants text,
    analysis_summary text,
    sentiment_score double precision,
    key_topics text,
    user_id integer NOT NULL,
    organization_id integer,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    started_at timestamp with time zone,
    ended_at timestamp with time zone
);


ALTER TABLE public.voice_sessions OWNER TO bridge_user;

--
-- Name: voice_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: bridge_user
--

CREATE SEQUENCE public.voice_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.voice_sessions_id_seq OWNER TO bridge_user;

--
-- Name: voice_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bridge_user
--

ALTER SEQUENCE public.voice_sessions_id_seq OWNED BY public.voice_sessions.id;


--
-- Name: chat_messages id; Type: DEFAULT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.chat_messages ALTER COLUMN id SET DEFAULT nextval('public.chat_messages_id_seq'::regclass);


--
-- Name: chat_room_participants id; Type: DEFAULT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.chat_room_participants ALTER COLUMN id SET DEFAULT nextval('public.chat_room_participants_id_seq'::regclass);


--
-- Name: chat_rooms id; Type: DEFAULT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.chat_rooms ALTER COLUMN id SET DEFAULT nextval('public.chat_rooms_id_seq'::regclass);


--
-- Name: organization_members id; Type: DEFAULT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.organization_members ALTER COLUMN id SET DEFAULT nextval('public.organization_members_id_seq'::regclass);


--
-- Name: organizations id; Type: DEFAULT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.organizations ALTER COLUMN id SET DEFAULT nextval('public.organizations_id_seq'::regclass);


--
-- Name: transcriptions id; Type: DEFAULT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.transcriptions ALTER COLUMN id SET DEFAULT nextval('public.transcriptions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: voice_sessions id; Type: DEFAULT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.voice_sessions ALTER COLUMN id SET DEFAULT nextval('public.voice_sessions_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: bridge_user
--

COPY public.alembic_version (version_num) FROM stdin;
7f2758c06f28
\.


--
-- Data for Name: chat_messages; Type: TABLE DATA; Schema: public; Owner: bridge_user
--

COPY public.chat_messages (id, message_id, content, message_type, audio_file_path, audio_duration, transcription, is_edited, is_deleted, chat_room_id, sender_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: chat_room_participants; Type: TABLE DATA; Schema: public; Owner: bridge_user
--

COPY public.chat_room_participants (id, chat_room_id, user_id, role, status, is_online, joined_at, last_active_at, total_messages) FROM stdin;
\.


--
-- Data for Name: chat_rooms; Type: TABLE DATA; Schema: public; Owner: bridge_user
--

COPY public.chat_rooms (id, room_id, name, description, is_public, is_active, max_participants, current_participants, status, room_type, participants, moderators, total_messages, total_duration, created_by, organization_id, created_at, updated_at, started_at, ended_at) FROM stdin;
\.


--
-- Data for Name: organization_members; Type: TABLE DATA; Schema: public; Owner: bridge_user
--

COPY public.organization_members (id, organization_id, user_id, role, joined_at, is_active) FROM stdin;
\.


--
-- Data for Name: organizations; Type: TABLE DATA; Schema: public; Owner: bridge_user
--

COPY public.organizations (id, name, slug, description, is_public, max_members, avatar_url, subscription_status, stripe_customer_id, stripe_subscription_id, owner_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: transcriptions; Type: TABLE DATA; Schema: public; Owner: bridge_user
--

COPY public.transcriptions (id, transcription_id, content, language, audio_file_path, audio_duration, audio_format, confidence_score, speaker_count, speakers, status, is_edited, voice_session_id, user_id, created_at, updated_at, processed_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: bridge_user
--



--
-- Data for Name: voice_sessions; Type: TABLE DATA; Schema: public; Owner: bridge_user
--

COPY public.voice_sessions (id, session_id, title, description, audio_file_path, audio_duration, audio_format, file_size, status, is_public, is_analyzed, participant_count, participants, analysis_summary, sentiment_score, key_topics, user_id, organization_id, created_at, updated_at, started_at, ended_at) FROM stdin;
\.


--
-- Name: chat_messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bridge_user
--

SELECT pg_catalog.setval('public.chat_messages_id_seq', 1, false);


--
-- Name: chat_room_participants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bridge_user
--

SELECT pg_catalog.setval('public.chat_room_participants_id_seq', 1, false);


--
-- Name: chat_rooms_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bridge_user
--

SELECT pg_catalog.setval('public.chat_rooms_id_seq', 1, false);


--
-- Name: organization_members_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bridge_user
--

SELECT pg_catalog.setval('public.organization_members_id_seq', 1, false);


--
-- Name: organizations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bridge_user
--

SELECT pg_catalog.setval('public.organizations_id_seq', 1, false);


--
-- Name: transcriptions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bridge_user
--

SELECT pg_catalog.setval('public.transcriptions_id_seq', 2, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bridge_user
--

SELECT pg_catalog.setval('public.users_id_seq', 9, true);


--
-- Name: voice_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bridge_user
--

SELECT pg_catalog.setval('public.voice_sessions_id_seq', 2, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: chat_messages chat_messages_message_id_key; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_message_id_key UNIQUE (message_id);


--
-- Name: chat_messages chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_pkey PRIMARY KEY (id);


--
-- Name: chat_room_participants chat_room_participants_pkey; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.chat_room_participants
    ADD CONSTRAINT chat_room_participants_pkey PRIMARY KEY (id);


--
-- Name: chat_rooms chat_rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.chat_rooms
    ADD CONSTRAINT chat_rooms_pkey PRIMARY KEY (id);


--
-- Name: chat_rooms chat_rooms_room_id_key; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.chat_rooms
    ADD CONSTRAINT chat_rooms_room_id_key UNIQUE (room_id);


--
-- Name: organization_members organization_members_pkey; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.organization_members
    ADD CONSTRAINT organization_members_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_slug_key; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_slug_key UNIQUE (slug);


--
-- Name: organizations organizations_stripe_customer_id_key; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_stripe_customer_id_key UNIQUE (stripe_customer_id);


--
-- Name: organizations organizations_stripe_subscription_id_key; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_stripe_subscription_id_key UNIQUE (stripe_subscription_id);


--
-- Name: transcriptions transcriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.transcriptions
    ADD CONSTRAINT transcriptions_pkey PRIMARY KEY (id);


--
-- Name: transcriptions transcriptions_transcription_id_key; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.transcriptions
    ADD CONSTRAINT transcriptions_transcription_id_key UNIQUE (transcription_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: voice_sessions voice_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.voice_sessions
    ADD CONSTRAINT voice_sessions_pkey PRIMARY KEY (id);


--
-- Name: voice_sessions voice_sessions_session_id_key; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.voice_sessions
    ADD CONSTRAINT voice_sessions_session_id_key UNIQUE (session_id);


--
-- Name: idx_transcriptions_transcription_id; Type: INDEX; Schema: public; Owner: bridge_user
--

CREATE INDEX idx_transcriptions_transcription_id ON public.transcriptions USING btree (transcription_id);


--
-- Name: idx_transcriptions_user_id; Type: INDEX; Schema: public; Owner: bridge_user
--

CREATE INDEX idx_transcriptions_user_id ON public.transcriptions USING btree (user_id);


--
-- Name: idx_transcriptions_voice_session_id; Type: INDEX; Schema: public; Owner: bridge_user
--

CREATE INDEX idx_transcriptions_voice_session_id ON public.transcriptions USING btree (voice_session_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: bridge_user
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: bridge_user
--

CREATE INDEX idx_users_username ON public.users USING btree (username);


--
-- Name: idx_voice_sessions_session_id; Type: INDEX; Schema: public; Owner: bridge_user
--

CREATE INDEX idx_voice_sessions_session_id ON public.voice_sessions USING btree (session_id);


--
-- Name: idx_voice_sessions_user_id; Type: INDEX; Schema: public; Owner: bridge_user
--

CREATE INDEX idx_voice_sessions_user_id ON public.voice_sessions USING btree (user_id);


--
-- Name: chat_messages chat_messages_chat_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_chat_room_id_fkey FOREIGN KEY (chat_room_id) REFERENCES public.chat_rooms(id);


--
-- Name: chat_messages chat_messages_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- Name: chat_room_participants chat_room_participants_chat_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.chat_room_participants
    ADD CONSTRAINT chat_room_participants_chat_room_id_fkey FOREIGN KEY (chat_room_id) REFERENCES public.chat_rooms(id);


--
-- Name: chat_room_participants chat_room_participants_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.chat_room_participants
    ADD CONSTRAINT chat_room_participants_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: chat_rooms chat_rooms_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.chat_rooms
    ADD CONSTRAINT chat_rooms_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: chat_rooms chat_rooms_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.chat_rooms
    ADD CONSTRAINT chat_rooms_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- Name: organization_members organization_members_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.organization_members
    ADD CONSTRAINT organization_members_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- Name: organization_members organization_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.organization_members
    ADD CONSTRAINT organization_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: organizations organizations_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- Name: transcriptions transcriptions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.transcriptions
    ADD CONSTRAINT transcriptions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: transcriptions transcriptions_voice_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.transcriptions
    ADD CONSTRAINT transcriptions_voice_session_id_fkey FOREIGN KEY (voice_session_id) REFERENCES public.voice_sessions(id);


--
-- Name: voice_sessions voice_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.voice_sessions
    ADD CONSTRAINT voice_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: bridge_user
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: bridge_user
--

ALTER DEFAULT PRIVILEGES FOR ROLE bridge_user IN SCHEMA public GRANT ALL ON SEQUENCES  TO bridge_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: bridge_user
--

ALTER DEFAULT PRIVILEGES FOR ROLE bridge_user IN SCHEMA public GRANT ALL ON TABLES  TO bridge_user;


--
-- PostgreSQL database dump complete
--

