--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13 (Debian 15.13-1.pgdg120+1)
-- Dumped by pg_dump version 15.13 (Debian 15.13-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: bridge_user
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO bridge_user;

--
-- Name: transcriptions; Type: TABLE; Schema: public; Owner: bridge_user
--

CREATE TABLE public.transcriptions (
    id integer NOT NULL,
    transcription_id character varying(255) NOT NULL,
    content text NOT NULL,
    language character varying(10) DEFAULT 'ja'::character varying,
    audio_file_path character varying(500),
    audio_duration double precision,
    audio_format character varying(50),
    confidence_score double precision,
    speaker_count integer DEFAULT 1,
    speakers text,
    status character varying(50) DEFAULT 'processing'::character varying,
    is_edited boolean DEFAULT false,
    voice_session_id integer NOT NULL,
    user_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    processed_at timestamp with time zone
);


ALTER TABLE public.transcriptions OWNER TO bridge_user;

--
-- Name: transcriptions_id_seq; Type: SEQUENCE; Schema: public; Owner: bridge_user
--

CREATE SEQUENCE public.transcriptions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.transcriptions_id_seq OWNER TO bridge_user;

--
-- Name: transcriptions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bridge_user
--

ALTER SEQUENCE public.transcriptions_id_seq OWNED BY public.transcriptions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: bridge_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    username character varying(100) NOT NULL,
    full_name character varying(255),
    avatar_url character varying(500),
    is_active boolean DEFAULT true NOT NULL,
    is_verified boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    hashed_password character varying(255),
    firebase_uid character varying(255),
    bio text,
    last_login_at timestamp with time zone,
    is_premium boolean DEFAULT false,
    subscription_status character varying(50) DEFAULT 'free'::character varying,
    nickname character varying(100),
    department character varying(100),
    join_date date,
    birth_date date,
    hometown character varying(200),
    residence character varying(200),
    hobbies text,
    student_activities text,
    holiday_activities text,
    favorite_food text,
    favorite_media text,
    favorite_music text,
    pets_oshi text,
    respected_person text,
    motto text,
    future_goals text,
    subscription_end_date timestamp with time zone,
    monthly_voice_minutes integer DEFAULT 0,
    monthly_analysis_count integer DEFAULT 0,
    is_admin boolean DEFAULT false,
    has_temporary_password boolean DEFAULT true,
    temporary_password_expires_at timestamp with time zone,
    is_first_login boolean DEFAULT true,
    last_password_change_at timestamp with time zone
);


ALTER TABLE public.users OWNER TO bridge_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: bridge_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO bridge_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bridge_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: voice_sessions; Type: TABLE; Schema: public; Owner: bridge_user
--

CREATE TABLE public.voice_sessions (
    id integer NOT NULL,
    session_id character varying(255) NOT NULL,
    title character varying(255),
    description text,
    audio_file_path character varying(500),
    audio_duration double precision,
    audio_format character varying(50),
    file_size integer,
    status character varying(50),
    is_public boolean DEFAULT false,
    is_analyzed boolean DEFAULT false,
    participant_count integer,
    participants text,
    analysis_summary text,
    sentiment_score double precision,
    key_topics text,
    user_id integer NOT NULL,
    organization_id integer,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    started_at timestamp with time zone,
    ended_at timestamp with time zone
);


ALTER TABLE public.voice_sessions OWNER TO bridge_user;

--
-- Name: voice_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: bridge_user
--

CREATE SEQUENCE public.voice_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.voice_sessions_id_seq OWNER TO bridge_user;

--
-- Name: voice_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bridge_user
--

ALTER SEQUENCE public.voice_sessions_id_seq OWNED BY public.voice_sessions.id;


--
-- Name: transcriptions id; Type: DEFAULT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.transcriptions ALTER COLUMN id SET DEFAULT nextval('public.transcriptions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: voice_sessions id; Type: DEFAULT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.voice_sessions ALTER COLUMN id SET DEFAULT nextval('public.voice_sessions_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: bridge_user
--

COPY public.alembic_version (version_num) FROM stdin;
7f2758c06f28
\.


--
-- Data for Name: transcriptions; Type: TABLE DATA; Schema: public; Owner: bridge_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: bridge_user
--



--
-- Data for Name: voice_sessions; Type: TABLE DATA; Schema: public; Owner: bridge_user
--



--
-- Name: transcriptions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bridge_user
--

SELECT pg_catalog.setval('public.transcriptions_id_seq', 2, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bridge_user
--

SELECT pg_catalog.setval('public.users_id_seq', 8, true);


--
-- Name: voice_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bridge_user
--

SELECT pg_catalog.setval('public.voice_sessions_id_seq', 2, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: transcriptions transcriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.transcriptions
    ADD CONSTRAINT transcriptions_pkey PRIMARY KEY (id);


--
-- Name: transcriptions transcriptions_transcription_id_key; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.transcriptions
    ADD CONSTRAINT transcriptions_transcription_id_key UNIQUE (transcription_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: voice_sessions voice_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.voice_sessions
    ADD CONSTRAINT voice_sessions_pkey PRIMARY KEY (id);


--
-- Name: voice_sessions voice_sessions_session_id_key; Type: CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.voice_sessions
    ADD CONSTRAINT voice_sessions_session_id_key UNIQUE (session_id);


--
-- Name: idx_transcriptions_transcription_id; Type: INDEX; Schema: public; Owner: bridge_user
--

CREATE INDEX idx_transcriptions_transcription_id ON public.transcriptions USING btree (transcription_id);


--
-- Name: idx_transcriptions_user_id; Type: INDEX; Schema: public; Owner: bridge_user
--

CREATE INDEX idx_transcriptions_user_id ON public.transcriptions USING btree (user_id);


--
-- Name: idx_transcriptions_voice_session_id; Type: INDEX; Schema: public; Owner: bridge_user
--

CREATE INDEX idx_transcriptions_voice_session_id ON public.transcriptions USING btree (voice_session_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: bridge_user
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: bridge_user
--

CREATE INDEX idx_users_username ON public.users USING btree (username);


--
-- Name: idx_voice_sessions_session_id; Type: INDEX; Schema: public; Owner: bridge_user
--

CREATE INDEX idx_voice_sessions_session_id ON public.voice_sessions USING btree (session_id);


--
-- Name: idx_voice_sessions_user_id; Type: INDEX; Schema: public; Owner: bridge_user
--

CREATE INDEX idx_voice_sessions_user_id ON public.voice_sessions USING btree (user_id);


--
-- Name: transcriptions transcriptions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.transcriptions
    ADD CONSTRAINT transcriptions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: transcriptions transcriptions_voice_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.transcriptions
    ADD CONSTRAINT transcriptions_voice_session_id_fkey FOREIGN KEY (voice_session_id) REFERENCES public.voice_sessions(id);


--
-- Name: voice_sessions voice_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bridge_user
--

ALTER TABLE ONLY public.voice_sessions
    ADD CONSTRAINT voice_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: bridge_user
--

ALTER DEFAULT PRIVILEGES FOR ROLE bridge_user IN SCHEMA public GRANT ALL ON SEQUENCES  TO bridge_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: bridge_user
--

ALTER DEFAULT PRIVILEGES FOR ROLE bridge_user IN SCHEMA public GRANT ALL ON TABLES  TO bridge_user;


--
-- PostgreSQL database dump complete
--

