# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
.env.*

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Docker
*.pid
data/
!data/.gitkeep

# その他
*.swp
*.bak
*.tmp 